<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      App Musical
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-label>Toca un instrumento para hacer música</ion-label>
  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let instrumento of instrumentos">
        <ion-card (click)="reproducirSonido(instrumento)">
          <ion-img [src]="instrumento.imagen"></ion-img>
        </ion-card>
      </ion-col>

    </ion-row>

  </ion-grid>    
  <p>Hecho en <a target="_blank" href="http://www.webgratis.com.ar">www.webgratis.com.ar</a></p>
  <p>Autor: Elvis Mancilla</p>
</ion-content>
